.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  gap: 7px;
  font-size: 12px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.menu-list {
  display: flex;
  margin-left: auto;
  /* 자동으로 좌측 마진을 채워 가운데 정렬 */
  margin-right: auto;
  /* 자동으로 우측 마진을 채워 가운데 정렬 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.search-bar {
  margin-left: auto;
  padding-right: 20px;
  border-bottom: 1px solid #000;
}

input {
  border: none;
  /* outline: none; */
}

.product-all {
  display: flex;
  justify-content: center;
}

.product-card {
  padding: 5px;
}

.product-card div {
  padding-bottom: 5px;
}

.product-card:hover {
  background-color: white;
  transform: scale(1.1); /* 크기를 1.2배로 확대 */
  transition: transform .7s ease;
  font-weight: 500;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  padding-bottom: 5px;
}

.new-tag {
  color: red;
  font-size: 13px;
}

.product-detail img {
  width: 100%;
}

.product-detail-col2 div {
  margin-bottom: 30px;
}

.product-detail-col2 Button {
  width: 100%;
}