.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  gap: 7px;
  font-size: 12px;
}

.nav-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.menu-list {
  display: flex;
  margin-left: auto;
  /* 자동으로 좌측 마진을 채워 가운데 정렬 */
  margin-right: auto;
  /* 자동으로 우측 마진을 채워 가운데 정렬 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.search-bar {
  margin-left: auto
}

input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}